@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.cta{
  min-height: 180px;
}
header{
  margin-top: 60px;
}