// Google FOnts Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$white: #fff;
$lavender: #F8F8FF;
$purple: #a471fe;
$font-dark: #011627;
$grad: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);


// Fonts
$font-mon: "Montserrat", Arial, Helvetica, sans-serif;
@mixin font-gradient{
  background: $grad;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Headings
.h1{
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
  @include font-gradient;
  margin-left: -3px;
  margin-bottom: 0;
}
.h2{
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  @include font-gradient;
}
.h3{
  font-size: 25.89px;
  font-weight: 600;
}
.h4{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

// Global
body{
  font-family: $font-mon;
  background-color: $lavender;
  color: $font-dark;
  position: relative;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

.btn{
  // min-width: 180px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  &.btn-primary{
    background: $grad;
    border-radius: 8px;
    border: none;
    color: $white;
  }
  &.btn-outline{
    border: 2px solid #8a97fa;
    border-radius: 8px;
    color: $white;
    @include font-gradient;
  }
  &.btn-sm{
    padding: 4px 20px;
    font-size: 16px;
  }
}
.glass-card{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.60);
  box-shadow: 0px 0px 19px 0px rgba(54, 40, 85, 0.50);
  backdrop-filter: blur(6px);
}
.img-fluid, .card{
  box-shadow: 0px 25px 64px -19px rgba(141, 109, 211, 0.50);
}

// Nav
nav.navbar{
  // padding: 60px 0px;
  // margin-bottom: 80px;
  .navbar-toggler-icon{
    background:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28164, 113, 254, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .navbar-brand{
    width: 130px;
    span{
      font-family: $font-mon;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -9.28px;

      background: radial-gradient(100% 100% at 0% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 50px;
      display: inline-block;
    }
  }
  .nav-item{
    .nav-link{
      color: $font-dark;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// Hero
section.hero{
  background: url('../images/hero-bg.svg') no-repeat center bottom / cover;
  min-height: calc(100vh - 60px);
  padding-bottom: 80px;
  margin-bottom: -1px;
  overflow-x: hidden;
  .glass-card{
    p{
      font-size: 24px;
      font-weight: 500;
    }
  }
  .dots-container{
    position: relative;
    margin-top: 50px;
    left: -95px;
    z-index: 0;  

    &::before{
      content: "";
      display: block;
      background: url('../images/gradient-dots-grid.svg') no-repeat top/contain;
      position: absolute;
      right: -82px;
      top: -79px;
      width: 270px;
      height: 270px;
      z-index: -1;
    }
  }
}

// Projects
section.projects{
  background: url('../images/projects-bg.svg') no-repeat center top / cover;
  padding-top: 30px;
  nav{
    padding-left: 24px;
    ul.nav{
      border-left: 1px solid $font-dark;
      padding: 0;
      position: relative;
      &::before{
        content: "";
          position: absolute;
          display: block;
          width: 5px;
          background: radial-gradient(264% 104% at 0% 100%, #A471FE 10.94%, #75B6F8 81.77%);
          height: 40px;
          left: -3px;
          top: 12px;
          border-radius: 5px;
      }
      
      a{
        color: $font-dark;
        font-size: 20px;
        font-weight: 600;
        padding: 16px 24px;
        position: relative;
        // &.active:before{
        //   content: "";
        //   position: absolute;
        //   display: block;
        //   width: 5px;
        //   background: radial-gradient(264% 104% at 0% 100%, #A471FE 10.94%, #75B6F8 81.77%);
        //   height: 40px;
        //   left: -3px;
        //   top: 12px;
        //   border-radius: 5px;
        // }
      }
    }
  }

  .project-slider{
    margin-bottom: 60px;
    article{
      position: relative;  
      margin: 48px 48px 200px;
      .glass-card{
        position: relative;
        z-index: 2;
      }
      .article-images{
        right: 0px;
        position: absolute;
        .tools-icons{
          .icon-bg{    
            background: $grad;
            width: 42px;
            height: 42px;
            border-radius: 50%;
                
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
          }
        }
      }
    }
  }
  .swiper-slide {
    height: auto !important;
  }
  .swiper-scrollbar{
    left: 14px;
    width: 1px;
    background-color: $font-dark;
    max-height: 200px;
    .swiper-scrollbar-drag{
      width: 5px;
      left: -2px;
      background: radial-gradient(264% 104% at 0% 100%, #A471FE 10.94%, #75B6F8 81.77%);
    }
  }
  
}

// Ribbon
section.ribbon{
  background: $grad;
  margin-bottom: 60px;
  // overflow-x: hidden;
  // .ticker{
  //   white-space:nowrap;
  //   display:inline-block;
  // }
  .swiper-slide{
    width: fit-content;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  
}

// Experience
section.experience{
  margin-bottom: 100px;
  .card{
    box-shadow: 0px 0px 24px 2px rgba(65, 52, 92, 0.50);
  }

}
// About
section.about{
  background: $grad;
  overflow-x: hidden;

  padding: 124px 0 160px;
  .h2{
    background: none;
    -webkit-text-fill-color: white;
    color: $white;
  }
  img{
    text-align: center;
  }
  .sm-links a{
    margin: 0 8px;
    color: $white;
  }
}

// Footer
footer{
  position: absolute;
  background: rgba(255, 255, 255, 0.60);
  box-shadow: 0px 0px 19px 0px rgba(54, 40, 85, 0.50);
  backdrop-filter: blur(6px);
  width: 100%;
  bottom: 0;
  p{
    padding: 30px;
    margin: 0;
  }
}

// Responsive
@media (max-width: 991px) {
  
  .headshot img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50% !important;
  }
  section.hero .dots-container {
    left: unset;
  }
  section.projects .project-slider article .article-images{
    position: static;
    .w-100{
      display: none;
    }
    .project-image{
      text-align: center;
    }
  }
}

@media (max-width: 768px){

}

@media (max-width: 576px){
  .h1{
    font-size: 42px;
  }
  .h2{
    font-size: 36px;
  }
  section.hero .glass-card p{
    font-size: 22px;
  }
  section.projects nav ul.nav a {
    font-size: 18px;
    padding: 14px 24px;
  }
}