@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.h1 {
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -3px;
  margin-bottom: 0;
}

.h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h3 {
  font-size: 25.89px;
  font-weight: 600;
}

.h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #F8F8FF;
  color: #011627;
  position: relative;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
.btn.btn-primary {
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  border-radius: 8px;
  border: none;
  color: #fff;
}
.btn.btn-outline {
  border: 2px solid #8a97fa;
  border-radius: 8px;
  color: #fff;
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn-sm {
  padding: 4px 20px;
  font-size: 16px;
}

.glass-card {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 19px 0px rgba(54, 40, 85, 0.5);
  backdrop-filter: blur(6px);
}

.img-fluid, .card {
  box-shadow: 0px 25px 64px -19px rgba(141, 109, 211, 0.5);
}

nav.navbar .navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28164, 113, 254, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
nav.navbar .navbar-toggler:focus {
  box-shadow: none;
}
nav.navbar .navbar-brand {
  width: 130px;
}
nav.navbar .navbar-brand span {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -9.28px;
  background: radial-gradient(100% 100% at 0% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50px;
  display: inline-block;
}
nav.navbar .nav-item .nav-link {
  color: #011627;
  font-size: 16px;
  font-weight: 500;
}

section.hero {
  background: url("../images/hero-bg.svg") no-repeat center bottom/cover;
  min-height: calc(100vh - 60px);
  padding-bottom: 80px;
  margin-bottom: -1px;
  overflow-x: hidden;
}
section.hero .glass-card p {
  font-size: 24px;
  font-weight: 500;
}
section.hero .dots-container {
  position: relative;
  margin-top: 50px;
  left: -95px;
  z-index: 0;
}
section.hero .dots-container::before {
  content: "";
  display: block;
  background: url("../images/gradient-dots-grid.svg") no-repeat top/contain;
  position: absolute;
  right: -82px;
  top: -79px;
  width: 270px;
  height: 270px;
  z-index: -1;
}

section.projects {
  background: url("../images/projects-bg.svg") no-repeat center top/cover;
  padding-top: 30px;
}
section.projects nav {
  padding-left: 24px;
}
section.projects nav ul.nav {
  border-left: 1px solid #011627;
  padding: 0;
  position: relative;
}
section.projects nav ul.nav::before {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  background: radial-gradient(264% 104% at 0% 100%, #A471FE 10.94%, #75B6F8 81.77%);
  height: 40px;
  left: -3px;
  top: 12px;
  border-radius: 5px;
}
section.projects nav ul.nav a {
  color: #011627;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 24px;
  position: relative;
}
section.projects .project-slider {
  margin-bottom: 60px;
}
section.projects .project-slider article {
  position: relative;
  margin: 48px 48px 100px;
}
section.projects .project-slider article .glass-card {
  position: relative;
  z-index: 2;
}
section.projects .project-slider article .article-images {
  right: 0px;
  bottom: -50px;
  position: absolute;
}
section.projects .project-slider article .article-images .tools-icons .icon-bg {
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
section.projects .project-slider article .article-images .tools-icons .icon-bg a {
  color: #fff;
}
section.projects .project-slider article .article-images video {
  box-shadow: 0px 0px 19px 0px rgba(54, 40, 85, 0.5);
  background-color: black;
}
section.projects .swiper-slide {
  height: auto !important;
  padding-top: 20px;
}
section.projects .swiper-scrollbar {
  left: 14px;
  width: 1px;
  background-color: #011627;
  max-height: 200px;
  top: calc(50% - 100px);
}
section.projects .swiper-scrollbar::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #011627;
  display: block;
  left: 0px;
  top: -20px;
}
section.projects .swiper-scrollbar::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #011627;
  display: block;
  left: 0px;
  bottom: -20px;
}
section.projects .swiper-scrollbar .swiper-scrollbar-drag {
  width: 5px;
  left: -2px;
  background: radial-gradient(264% 104% at 0% 100%, #A471FE 10.94%, #75B6F8 81.77%);
}

section.ribbon {
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  margin-bottom: 60px;
}
section.ribbon .swiper-slide {
  width: fit-content;
}
section.ribbon .swiper-wrapper {
  transition-timing-function: linear !important;
}

section.experience {
  margin-bottom: 100px;
}
section.experience .card {
  box-shadow: 0px 0px 24px 2px rgba(65, 52, 92, 0.5);
}

section.about {
  background: radial-gradient(169% 200% at -37% 55.65%, #A471FE 10.94%, #75B6F8 81.77%);
  overflow-x: hidden;
  padding: 124px 0 160px;
}
section.about .h2 {
  background: none;
  -webkit-text-fill-color: white;
  color: #fff;
}
section.about img {
  text-align: center;
}
section.about .sm-links a {
  margin: 0 8px;
  color: #fff;
}

footer {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 19px 0px rgba(54, 40, 85, 0.5);
  backdrop-filter: blur(6px);
  width: 100%;
  bottom: 0;
}
footer p {
  padding: 30px;
  margin: 0;
}

@media (max-width: 1200px) {
  .article-images {
    bottom: 114px;
  }
}
@media (max-width: 991px) {
  .headshot img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50% !important;
  }
  section.hero .dots-container {
    left: unset;
  }
  section.projects .project-slider article .article-images {
    position: static;
  }
  section.projects .project-slider article .article-images .w-100 {
    display: none;
  }
  section.projects .project-slider article .article-images .project-image {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .h1 {
    font-size: 42px;
  }
  .h2 {
    font-size: 36px;
  }
  section.hero .glass-card p {
    font-size: 22px;
  }
  section.projects nav ul.nav a {
    font-size: 18px;
    padding: 14px 24px;
  }
}

/*# sourceMappingURL=main.css.map */
